.container.container-equipe {
  .form {
    margin-top: 12vh;
  }
  h2 {
    background: linear-gradient(to right, purple, var(--vermelho));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .inp,
  .sel {
    border: 4px solid var(--vermelho);
    &[type="color"] {
      min-height: 40px;
      padding: 0;
    }
  }
  .btn {
    border: 4px solid var(--vermelho);
    &:hover {
      background-color: var(--vermelho);
    }
  }

  .list {
    border-right: 4px solid var(--vermelho);

    .equipes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-inline: 10px;
      /* display: flex;
      justify-content: center;
      flex-direction: column; */
      width: 100%;
      gap: 10px;
    }

    h1 {
      background: linear-gradient(to right, purple, var(--vermelho));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .card {
      width: 100%;
      margin: auto;
      background-color: var(--vermelho);
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-5%);
      }

      .c-nome {
        margin-block: 7px;
        span {
          letter-spacing: 2px;
          font-size: 1.5rem;
          font-weight: bold;
          text-shadow: 1px 1px 2px white;
        }
      }

      .c-sede {
        margin-bottom: 7px;
        span {
          font-size: 1.2rem;
        }
      }

      .c-categoria {
        margin-bottom: 5px;
        span {
          font-size: 1.3rem;
          font-weight: bold;
        }
      }
    }
  }
}
