.container {
  height: 100%;
  background: linear-gradient(
    320deg,
    rgb(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8),
    rgb(0, 0, 0, 0.9)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

a {
    text-decoration: none;
}

.card {
  max-width: 300px;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  border: 4px solid white;

  span {
    width: 100%;
    text-align: center;
    background-color: rgb(41, 41, 41);
    padding-block: 7px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.2rem;
    color: white;
  }

  &:hover {
    scale: 1.2;
    box-shadow: 2px 3px 10px black;
    border-color: purple;
  }

  img {
    width: 100%;
    height: auto;
  }
}
