:root {
  --bg-color: rgb(56, 56, 56);
  --placeholder: rgb(160, 160, 160);
  --roxo: rgb(100, 0, 100);
  --vermelho: rgb(170, 0, 0);
  --azul: rgb(0, 0, 190);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
  font-size: 1rem;
  font-weight: normal;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100vh;
  width: 100%;
}

